.body
    position: absolute
    z-index: -1
    display: flex
    width: 100vw
    height: 100vh
    background-color: rgba(61, 103, 147, .4)
    cursor: wait
    opacity: 1
    transition: opacity 500ms ease
    &.on
        transition: opacity 500ms ease
        opacity: 1
        z-index: 9999
    svg
        display: flex
        margin: auto
        height: 150px
        width: 150px
        animation: rotate 1s linear infinite
        .beat-loader
            transform: translate(5px, 5px)
            height: 100%
            width: 100%
            fill: none
            stroke-width: 10
            stroke-linecap: round
            stroke-dasharray: 440
            stroke-dashoffset: 0
            animation: draw 2s linear infinite
            stroke: #328993
            transition: stroke 1500ms ease
            &.color-ECG
                stroke: #ff0000ce

@keyframes rotate
    to
        transform: rotate(360deg)
    from
        transform: rotate(0deg)


@keyframes draw
    0%,100%
        stroke-dashoffset: 440
    50%
        stroke-dashoffset: 0
    50.1%
        stroke-dashoffset: 880
