// import a file with measurements from the menu component
@import "../../../styles/menu"

mat-drawer-container
    display: flex

.side-sidenav-content
    margin: 0 !important
    overflow-y: auto
    height: calc(100vh - 56px - 46px)

.side-sidenav
    position: relative
    padding: 0
    *
        user-select: none
    &:not(.mat-drawer-opened)
        box-shadow: 1px 0px 18px -4px #444444bf !important
        @include menu-transition-width()
        width: $width-menu-closed
        transform: none
        visibility: visible !important
    &.mat-drawer-opened
        transform: none
        box-shadow: 1px 0px 18px -4px #444444bf !important
        @include menu-transition-width()
        width: $width-menu-opened


.group-menu
    @include menu-transition-height()
    .group-menu-item
        overflow: hidden
        @include menu-transition-height()
        height: 0px

.simple-menu, .group-menu, .group-menu-item
    .menu-item
        font-size: 16px
        height: 48px
        color: #464646
        text-decoration: none
        overflow: hidden
        &:hover
            background: #8496fc1a
        &.link-active
            color: #32936c
        >.icon-toogle
            justify-content: flex-end
        >.menu-icon
            min-width: 63px
            align-items: center
        >.menu-name
            overflow: hidden
            align-items: center
            min-width: 192px


.icon-group-menu-toggle
    transition: transform 200ms cubic-bezier(.53,.28,.36,.94)
    &.icon-toggle
        transform: rotate(90deg)
