<div class="container column">
    <mat-toolbar color="primary" class="toolbar full-width">
        <span>{{ "CIPHER_CHORD.TITLE" | translate }}</span>
    </mat-toolbar>

    <div class="container row margin-16 principal-container">
        <div class="container guitar-arm-container full-height">
            <ec-guitar-arm #guitarArm></ec-guitar-arm>
        </div>

        <div class="container column full possible-scales">
            <div
                class="container row margin-16 full-width"
                [formGroup]="formGroup"
            >
                <mat-form-field
                    class="container row full"
                    appearance="standard"
                >
                    <mat-label>{{
                        "CIPHER_CHORD.CHORD" | translate
                    }}</mat-label>
                    <input
                        #chordName
                        class="bold-500"
                        type="text"
                        matInput
                        formControlName="chord"
                        required
                        [placeholder]="placeholder"
                    />
                </mat-form-field>

                <div class="container column center">
                    <button
                        mat-raised-button
                        color="primary"
                        (click)="saveValidate()"
                    >
                        <mat-icon>add</mat-icon>
                        {{ "BUTTONS.ADD" | translate }}
                    </button>
                </div>
            </div>

            <div #legends class="chord container row full-width margin-16">
                <span class="container column center legend"> Name </span>

                <span class="container column center probability legend">
                    %
                </span>
                <span class="container column center legend"> Scale </span>
            </div>

            <div #legendsgrau class="chord container row graus margin-16">
                <span class="container"></span>
                <span class="container probability"></span>
                <span *ngFor="let grau of graus" class="container scale">
                    {{ grau }}ª
                </span>
            </div>

            <div #chord
                class="container column full-width"
                *ngFor="let scale of scales; let i = index"
            >
                <div
                    *ngIf="i < 4"
                    class="chord container row full-width margin-16"
                    [style.--opacity]="calculate(i)"
                >
                    <span
                        class="container column pointer"
                        (click)="setChord(scale.chordName)"
                    >
                        {{ scale.chordName }}
                    </span>

                    <span class="container column flex-end probability">
                        {{ calculateProbability(scale.probability) }}
                    </span>
                    <span
                        *ngFor="let s of scale.scale"
                        class="container column flex-end scale"
                        [ngClass]="{ match: match(scale, s) }"
                    >
                        {{ s }}
                    </span>
                </div>
                <div
                    *ngIf="i < 4"
                    class="chord container row end margin-16 variations"
                    [style.--opacity]="calculate(i)"
                >
                    <span class="container"></span>
                    <span class="container probability"></span>
                    <span
                        *ngFor="let s of scale.scale; let i = index"
                        class="container variations-span"
                        [ngClass]="{
                            match: match(scale, variationsNote(i, s))
                        }"
                    >
                        <span class="variations-note">
                            {{ variationsNote(i, s) }}
                        </span>
                        <span class="variations-notation">
                            {{ variationsNotation(i, s) }}
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="container row flex-end margin-8">
        <button mat-raised-button (click)="close()">{{"BUTTONS.CLOSE" | translate}}</button>
    </div>
</div>
