<cipher-container id="patos" class="music-book" [title-container]="title">

    <div buttons>
        <button mat-icon-button color="primary" title="{{ 'CIPHER_FACTORY.BACK_TONE' | translate }}"
            (click)="backTone()">
            <mat-icon>chevron_left</mat-icon>
        </button>

        <mat-form-field class="form-tone mat-input-remove-border" appearance="standard">
            <input type="text" placeholder="{{'CIPHER_FACTORY.REQUIRE_TONE' | translate}}" matInput class="tone" [formControl]="tone" readonly />
        </mat-form-field>

        <button mat-icon-button color="primary" title="{{ 'CIPHER_FACTORY.NEXT_TONE' | translate }}"
            (click)="nextTone()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>

    <!-- <div content class="container column margin-16 full-width"> -->
        <div content class="container column full-width cipher-container font-mono">
            <ng-container *ngIf="this.text; then cipherContainer else lyricContainer"></ng-container>
        </div>
    <!-- </div> -->
</cipher-container>

<ng-template #cipherContainer>
    <ng-container *ngFor="let line of this.text; let indexLine = index">
        <pre class="container line-text" *ngIf="line?.type === 'text'">{{ line.content }}</pre>
        <pre class="container line-cipher" *ngIf="line?.type === 'cipher'"> <b *ngFor="let char of splitLine(line.content) let indexChar = index;"
        [style.--note]='"\""+char+"\""'
        [ngClass]="{'note': char !== ' '}"
        > </b>
        </pre>
    </ng-container>
</ng-template>

<ng-template #lyricContainer>
    <pre class="lyric">{{this.lyric}}</pre>
</ng-template>
