<cipher-container class="music-book" title-container="PRESENTER_MUSIC.TITLE">
    <div content class="container column margin-16 full-width">
        <div class="container row margin-8">
            <div class="container full">
                <mat-form-field class="container row full" appearance="standard">
                    <input
                        class="upper bold-500"
                        type="text"
                        matInput
                        [value]="title"
                        readonly
                    />
                </mat-form-field>
            </div>
            <div>
                <button
                    mat-icon-button
                    color="primary"
                    title="{{ 'CIPHER_FACTORY.BACK_TONE' | translate }}"
                    (click)="backTone()"
                >
                    <mat-icon>chevron_left</mat-icon>
                </button>

                <mat-form-field class="form-tone" appearance="standard">
                    <mat-label class="tone-label container center">{{
                        "CIPHER_FACTORY.TONE" | translate
                    }}</mat-label>
                    <input
                        type="text"
                        placeholder="{{
                            'CIPHER_FACTORY.REQUIRE_TONE' | translate
                        }}"
                        matInput
                        class="tone"
                        [formControl]="tone"
                        readonly
                    />
                </mat-form-field>

                <button
                    mat-icon-button
                    color="primary"
                    title="{{ 'CIPHER_FACTORY.NEXT_TONE' | translate }}"
                    (click)="nextTone()"
                >
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>

        <div class="container column full-width cipher-container font-mono">
            <ng-container *ngIf="this.text; then cipherContainer else lyricContainer"></ng-container>
        </div>
    </div>
</cipher-container>

<ng-template #cipherContainer>
    <ng-container *ngFor="let line of this.text; let indexLine = index">
        <pre
            class="container line-text"
            *ngIf="line?.type === 'text'"
            >{{ line.content }}</pre
        >
        <pre
            class="container line-cipher"
            *ngIf="line?.type === 'cipher'"
        > <b *ngFor="let char of splitLine(line.content) let indexChar = index;"
        [style.--note]='"\""+char+"\""'
        [ngClass]="{'note': char !== ' '}"
        > </b>
        </pre>
    </ng-container>
</ng-template>

<ng-template #lyricContainer>
    <pre class="lyric">{{this.lyric}}</pre>
</ng-template>

