<cipher-container title-container="MENU.CIPHER_FACTORY">
    <div content class="container column full-width margin-16">
        <section>
            <mat-progress-bar
                color="accent"
                [mode]="mode"
                [value]="value2"
                [bufferValue]="bufferValue"
            >
            </mat-progress-bar>
        </section>

        <div
            class="container column font-mono relative"
            [formGroup]="formGroup"
        >
            <div class="container absolute elevator-2 container-buttons">
                <button
                    *ngIf="visualizarionMode"
                    mat-button
                    color="accent"
                    (click)="new()"
                >
                    {{ "BUTTONS.NEW" | translate }}
                </button>
                <button
                    *ngIf="visualizarionMode"
                    mat-icon-button
                    color="primary"
                    title="{{ 'BUTTONS.DELETE' | translate }}"
                    (click)="exclude()"
                >
                    <mat-icon>delete</mat-icon>
                </button>
                <button
                    mat-icon-button
                    color="primary"
                    title="{{ 'BUTTONS.SAVE' | translate }}"
                    (click)="save()"
                >
                    <mat-icon>save</mat-icon>
                </button>
            </div>

            <mat-tab-group class="container">
                <mat-tab [label]="firstTab">
                    <ec-first-tab
                        #primary
                        [formGroup]="formGroup"
                        lyricsName="lyric"
                        titleName="title"
                    >
                        <mat-form-field class="container" appearance="standard">
                            <mat-label>{{
                                "CIPHER_FACTORY.TITLE_MUSIC" | translate
                            }}</mat-label>
                            <input
                                required
                                matInput
                                type="text"
                                formControlName="title"
                                [formControl]="toControl('title')"
                                class="title-music"
                            />
                        </mat-form-field>
                    </ec-first-tab>
                </mat-tab>

                <mat-tab [label]="secondaryTab">
                    <ec-secondary-tab
                        #secondary
                        [formGroup]="formGroup"
                        cipherName="cipher"
                        toneName="tone"
                        titleName="title"
                    >
                        <mat-form-field
                            class="container"
                            class="container full"
                            appearance="standard"
                        >
                            <mat-label>{{
                                "CIPHER_FACTORY.TITLE_MUSIC" | translate
                            }}</mat-label>
                            <input
                                required
                                matInput
                                type="text"
                                formControlName="title"
                                [formControl]="toControl('title')"
                                class="title-music"
                            />
                        </mat-form-field>
                    </ec-secondary-tab>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</cipher-container>
