<div class="container column full-height margin-16">
    <mat-toolbar class="toolbar" [ngClass]="this.data.type">
        <div class="container row between full">
            <span class="title">{{ title }}</span>
            <span class="container column center">
                <mat-icon class="icon">
                    {{ icon() }}
                </mat-icon>
            </span>
        </div>
    </mat-toolbar>

    <div class="container column full">
        <span class="container padding-4-16 title-3 subtitle">
            {{ this.data.subtitle || "" }}
        </span>

        <span class="content">
            {{ this.data.message }}
        </span>
    </div>

    <div class="container row flex-end margin-8">
        <button mat-raised-button (click)="close()">{{"BUTTONS.CLOSE" | translate}}</button>
        <button *ngIf="!!this.data.callback" mat-raised-button [ngClass]="this.data.type" (click)="ok()" #btnOk >Ok</button>
    </div>
</div>
