<div class="position-relative container column full-width general-container">

    <div class="container row center full-width guitar-arm-header elevator-1">
        <div class="container center row full-width reverse guitar-arm">
            <div
                #stringName
                *ngFor="let string of stringsName"
                class="container center row string-name string-preriferic"
            >
                <span>{{ string }}</span>
            </div>
        </div>
    </div>

    <div
        class="container column guitar-arm-body align-center position-relative"
    >
        <div class="container column guitar-arm">
            <div
                #houseid
                *ngFor="let house of houses"
                class="container row house reverse full-width"
            >
                <span class="container center title-house full-width">
                    <button mat-icon-button class="btn">
                        <mat-icon [hoverInteract]="houseid"
                            >arrow_right</mat-icon
                        >
                    </button>
                    <span class="container column center text">
                        {{ house + 1 }}
                    </span>
                </span>

                <div
                    #stringid
                    *ngFor="let string of strings"
                    class="container string center"
                >
                    <span
                        class="container row center"
                        [style.--b]="widthString(string)"
                        (click)="select(string, house, ball)"
                    >
                        <span
                            #ball
                            class="flag container center bold-700"
                            [id]="house + '-' + string"
                            >{{ getNote(string, house + 1) }}</span
                        >
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="container center row full-width elevator-1 guitar-arm-footer">
        <div class="container row reverse full-width guitar-arm">
            <div
                #stringTouch
                *ngFor="let state of stateString; let string = index"
                class="container center row string-preriferic string-touch"
            >
                <button
                    mat-icon-button
                    (click)="touchSelect(state, string)"
                    *ngIf="state === 'none'"
                    class="button-adaptable"
                >
                    <mat-icon>close</mat-icon>
                </button>

                <button
                    mat-icon-button
                    (click)="touchSelect(state, string)"
                    *ngIf="state === 'catchphrase'"
                    class="button-adaptable touch"
                >
                    <mat-icon>circle</mat-icon>
                </button>

                <button
                    mat-icon-button
                    (click)="touchSelect(state, string)"
                    *ngIf="state === 'touch'"
                    class="button-adaptable touch"
                >
                    <mat-icon>panorama_fish_eye</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
