@use "../../../../styles/reponsive"

@function base($multiplay)
    $result: calc( var(--height) * #{$multiplay})
    @return $result

@mixin limit-container-width($width)
    width: 100%
    max-width: $width

@mixin limit-container-height($height)
    height: 100%
    max-height: $height


.general-container
    @include limit-container-width(base(.7))

.guitar-arm
    width: 90%
    user-select: none

.guitar-arm-header
    overflow-y: scroll
    @include limit-container-height(base(.065))
    padding-left: base(0.055)
    > .guitar-arm
        background: #979797
        border-top-right-radius: 4px
        border-top-left-radius: 4px
        .string-name
            > span
                color: #fff
                font-weight: 500
                align-self: center
                font-size: base(.03)

.guitar-arm-body
    overflow-y: scroll
    overflow-x: hidden
    height: 100%
    @include limit-container-height(base(1))
    padding-left: base(0.055)
    .guitar-arm
        box-shadow: inset 0px -5px 12px -12px #a3a3a3e9
        >.house
            min-height: 20%
            &:not(:last-child)
                border-bottom: base(.009) solid
                border-image: linear-gradient(45deg, #52442b, #917046) .5
            > .title-house
                width: 110%
                height: 100%
                text-align: center
                color: #ccc
                cursor: pointer
                font-size: base(.04)
                align-items: center
                .btn
                    height: 100%
                    display: none
                    transform: translateX(base(-.05))
                    mat-icon
                        font-size: base(.1)
                &:hover
                    .text
                        display: none
                    .btn
                        display: block
            .string
                align-items: center
                width: 100%
                padding: 1px
                background-color: #ebebeb
                &:nth-child(2)
                    border-right: .5px solid #00000014
                &:nth-child(7)
                    border-left: .5px solid #00000014
                > .rope
                    background: #5c5c5c
                    width: calc( var(--height) * var(--width-rope) * 0.0022)
                    align-items: center
                > .flag
                    @include limit-container-height(base(.055))
                    @include limit-container-width(base(.055))
                    font-size: base(.0285)
                    font-weight: 500
                    align-items: center
                    cursor: pointer
                    opacity: 0
                    background: #00000000
                    box-shadow: inset 0px 0px 7px 4px #9999998e
                    border-radius: 100%
                    color: #ffffff
                    text-shadow: 0px 0px 4px #000000
                    &:active
                        background: #fff
                        box-shadow: inset 0px 0px 10px 7px #ff7700e9
                    &.select,&.select-interact
                        color: #fff
                        text-shadow: 0px 0px 4px #ff7700
                        background: #fff
                        box-shadow: inset 0px 0px 12px 8px #ff7700e9
                        opacity: 1
                &:hover,&.interact
                    .flag
                        opacity: 1

.guitar-arm-footer
    overflow-y: scroll
    @include limit-container-height(base(.08))
    padding-left: base(0.055)
    .string-touch
        font-weight: 500
        align-items: center
        .touch
            color: #ff7700e9
        mat-icon
            width: 100%
            height: 50%
            text-align: center
            font-size: base(.06)

