<div class="container full full-height column container-module">
    <mat-toolbar
        class="toolbar mat-elevation-z2"
        title="{{ title | translate }}"
    >
        <div class="container row between full margin-8">
            <span class="title-module container">{{ title | translate }}</span>
            <ng-content select="[buttons]"></ng-content>
        </div>
    </mat-toolbar>

    <div class="container-box container full padding-16">
        <img class="backgroud-logo" src="../assets/logo-white.png" >
        <ng-content select="[content]">
        </ng-content>
    </div>
</div>
