.toolbar
    height: 64px
    background: #fff
    .title-module
        font-size: 12pt
        align-items: center

.container-box
    max-height: calc( 100vh - 56px - 46px - 64px )
    overflow-y: auto
    overflow-x: hidden
