<cipher-container class="music-book" [title-container]="title">
    <div buttons>
        <button
            mat-icon-button
            color="primary"
            (click)="edit()"
            [matTooltip]="'BUTTONS.EDIT' | translate"
        >
            <mat-icon>edit</mat-icon>
        </button>
    </div>

    <div content class="container column full-heigth full-width margin-16">
        <div class="container row margin-8">

            <mat-form-field appearance="standard" class="container full-width">
                <mat-label>Filter</mat-label>
                <input class="ajust-height"
                    type="text"
                    matInput
                    [formControl]="filterControl"
                    placeholder="Filter"
                />
            </mat-form-field>

            <mat-form-field appearance="standard" class="container tags full-width">
                <mat-label>Tags</mat-label>
                <mat-chip-list #chipList>
                <mat-chip
                    *ngFor="let tag of tags"
                    [removable]="true"
                    (removed)="removeTag(tag)">
                    {{ tag }}
                </mat-chip>
                <input class="ajust-height"
                    [placeholder]="('SONGBOOK.FILTER_TAG' |translate)+'...'"
                    [formControl]="filterTagControl"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addTag($event)">
                </mat-chip-list>
            </mat-form-field>

            <div class="container column center">
                <button
                    mat-raised-button
                    color="primary"
                    (click)="showDialogAdd()"
                >
                    <mat-icon>add</mat-icon>
                    {{ "BUTTONS.ADD" | translate }}
                </button>
            </div>
        </div>

        <ec-music-card #card
            *ngFor="let item of musicFiltered | async"
            [matTooltip]="item.cipher.lyric"
            [music]="item.cipher"
            (dblclick)="card.animateSlide('present-music', { customCipher: item, customTone: item.customTone,  cipher: item.cipher })"
        >
            <ng-container buttons>
                <button
                    *ngIf="permitedExcludeCipher"
                    mat-icon-button
                    color="primary"
                    class="hover-scale"
                    (click)="delete(item.id)"
                >
                    <mat-icon>delete</mat-icon>
                </button>

                <button
                    mat-icon-button
                    (click)="card.animateSlide('present-music', { customCipher: item, customTone: item.customTone,  cipher: item.cipher })"
                    [matTooltip]="'GENERIC_TOOLTIPS.ACCESS_CIPHER' | translate"
                >
                    <mat-icon>music_note</mat-icon>
                </button>
            </ng-container>
        </ec-music-card>
        <span *ngIf="!(musicFiltered | async)?.length" class="user-select">
            {{ "SONGBOOK.SONGBOOK_EMPTY" | translate }}
        </span>
    </div>
</cipher-container>
