@use "~@angular/material" as mat;
@import "./app/styles/palette";
@import "./app/styles/menu";
@import "./app/styles/flex";
@import "./app/styles/typography";

@include mat.core();

$my-primary: mat.define-palette($holy-palette-primary, 800);

$my-accent: mat.define-palette($holy-palette-accent, 500);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent,
            warn: $my-warn,
        ),
    )
);

@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin shadow-default() {
    box-shadow: 0 1px 4px #000000;
    border-radius: 4px;
}

.content-padding {
    padding: 16px;
}

.pointer {
    cursor: pointer;
}

.form-errors {
    font-size: 10pt;
    div > div:last-child {
        position: relative;
    }
}

mat-toolbar.toolbar {
    height: 56px;
}

.container-module-overflow {
    height: calc(100vh - (56px + 64px + 46px));
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: #e9eaeb;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(119, 119, 119, 0.397);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-button {
        background-color: rgba(0, 0, 0, 0.288);
        height: 2px;
    }

    &::-webkit-scrollbar-corner {
        background-color: rgb(21, 100, 202);
    }
}

.hover-scale {
    &:hover {
        transform: scale(1.1);
    }
}

.blur {
    filter: blur(2px);
}

.adaptable-width {
    &-32 {
        @include adaptable-width(closed, 32px);
    }
    &-64 {
        @include adaptable-width(closed, 64px);
    }
}

.menu-opened {
    .adaptable-width {
        &-32 {
            @include adaptable-width(opened, 32px);
        }
        &-64 {
            @include adaptable-width(opened, 64px);
        }
    }
}

