<div #card [ngClass]="{ 'toggle': toggleClass }" class="container column mat-elevation-z2 card full">

    <div class="padding-8-16 header container row full">
        <div class="title container full-heigth full-width user-select" (click)="toggleClass = !toggleClass">
            {{music.title}}
        </div>
        <div class="container row between full">
            <ng-content select="[buttons]"></ng-content>
        </div>
    </div>
    <pre class="padding-8-16 header container row full" > {{ music.lyric }} </pre>
</div>
