<div #card [ngClass]="{ 'toggle': toggleClass }" class="container column mat-elevation-z2 card full">

    <div class="padding-8-16 header container row margin-16 full">
        <div class="title container-title container full-heigth user-select" (click)="toggleClass = !toggleClass">
            {{music.title | uppercase}}
        </div>
        <div class="container full-width">
            <div *ngIf="!!music.tags"class="container row margin-8" >
                <div class="container tag user-select" *ngFor="let tag of music.tags?.split(',')">
                    {{ tag }}
                </div>
            </div>
        </div>
        <div class="container row between full">
            <ng-content select="[buttons]"></ng-content>
        </div>
    </div>
    <pre class="padding-8-16 header container row full" > {{ music.lyric }} </pre>
</div>
