<cipher-container class="music-book" [title-container]="title">

    <div content class="container column full-heigth full-width margin-16">
        <div class="container row margin-8">
            <mat-form-field appearance="standard" class="container full-width">
                <mat-label>Filter</mat-label>
                <input
                    type="text"
                    matInput
                    [formControl]="filter"
                    placeholder="Filter"
                />
            </mat-form-field>

            <div class="container column center" >
                <button mat-raised-button color="accent" [routerLink]="['/ciphers/ciphers-factory']">
                    <mat-icon>add</mat-icon>
                    {{ "BUTTONS.ADD" | translate }}
                </button>
            </div>
        </div>

        <ec-music-card #card
            *ngFor="let cipher of ciphers | async"
            [matTooltip]="cipher.lyric"
            [music]="cipher"
        >
            <ng-container buttons>
                <button mat-icon-button [matTooltip]="'GENERIC_TOOLTIPS.ACCESS_CIPHER' | translate" (click)="card.animateSlide('ciphers/ciphers-factory', cipher)">
                    <mat-icon>edit</mat-icon>
                </button>
            </ng-container>
        </ec-music-card>
        <span *ngIf="!(ciphers | async)?.length">{{ "FORM.NO_RECORDS" | translate }}</span>
    </div>
</cipher-container>
